<header class="c-header">
  <div class="c-header--main  l-container">
    <a href="<%= BASE_URL %>index.html" class="c-header__logo">
      <img class="c-header__logoIMG" src="/assets/img/header/logo.png" alt="ENTEX">

    </a>
    <div class="c-header__nav l-pc--only">
      <ul>
        <% if (typeof linklists !='undefined' ) { %>
          <% linklists.main && linklists.main.forEach(link=> { %>
            <li>
              <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title
                      %>
              </a>
              <% if (link.links) { %>
                <ul>
                  <% link.links.forEach(child_link=> { %>
                    <li>
                      <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%=
                              child_link.title %></a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% }) %>
              <% } %>

      </ul>
    </div>
    <div class="c-header__left">
      <a class="c-header--assign" href="#recruit">
        <img class="c-header--Licon" src="/assets/img/header/note.svg" alt="募集要項">
        <span class="c-header--Ltxt">募集要項</span>
      </a>
    </div>
  </div>
  <div class="c-header__nav l-tablet--only">
    <ul>
      <% if (typeof linklists !='undefined' ) { %>
        <% linklists.main && linklists.main.forEach(link=> { %>
          <li>
            <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %>
            </a>
            <% if (link.links) { %>
              <ul>
                <% link.links.forEach(child_link=> { %>
                  <li>
                    <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%=
                            child_link.title %></a>
                  </li>
                  <% }) %>
              </ul>
              <% } %>
          </li>
          <% }) %>
            <% } %>
  
    </ul>
  </div>
</header>